@font-face {
    font-family: 'Raleway';
    src: url('./themes/fonts/Raleway-Thin.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
}
@import './base/reset';
@import './abstracts/variables';
@import './components/dashboard';