$primary: rgb(11, 134, 235);
$default: rgb(246, 246, 253);
$danger: rgb(247, 62, 29);
$warning: rgb(247, 160, 29);
$dark: rgb(0, 0, 0);
$semi-dark: rgb(22, 21, 21);
$gray: rgb(56, 50, 59);
$light: rgb(255, 255, 255);
